* {
    box-sizing: border-box;
}

html,
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

/* Awal header */

header {
    height: 65px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
}

.header-left {
    line-height: 65px;
    letter-spacing: 10px;
    color: white;
    cursor: pointer;
}

.header-right {
    width: 50%;
}

.navbar .header-right ul li a {
    line-height: 65px;
    color: rgb(185, 185, 185);
}

.navbar .header-right ul li a:hover {
    color: rgb(240, 240, 240);
}

.navbar,
ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

/* Akhir Header */

/* awal top-wrap */

.top-wrapper {
    padding-top: 170px;
    text-align: center;
    background-image: url("aset/3900.jpg");
    background-size: cover;
    height: 100vh;
}

.top-wrapper .logo {
    display: inline-block;
    width: 100px;
    font-size: 70px;
    padding: 10px;
    border: 7px solid rgb(189, 186, 186);
    border-radius: 100%;
    margin-bottom: 50px;
}

.top-wrapper p {
    margin-top: 30px;
    margin-bottom: 100px;
    letter-spacing: 10px;
}

.top-wrapper img {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.top-wrapper h1,
p {
    color: white;
}

/* akhir top-wrap */




/* Untuk Tablet */
@media all and (max-width: 1000px) {
    .header-right {
        width: 60%;
    }

    .top-wrapper {
        padding-top: 100px;
    }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
    .navbar {
        flex-direction: column;
    }

    ul {
        display: none;
    }

    .navbar .header-left h1 {
        text-align: center;
    }

    .top-wrapper {
        padding-top: 80px;
    }

    .top-wrapper .logo {
        margin-bottom: 40px;
    }

}